<div id="header" class="container-fluid">
  <h1 id="title" class="d-inline">G.Y.M.<span class="title-small">Banking</span></h1>
    <button class="btn btn-danger d-inline right"><a href="/logout">Log out</a></button>
</div>
<main class=" home">
  <div class="standard-design">
    <div class="margin-top">
      <h4 class="d-flex item justify-content-center text-center">Congratulations! You sent a friend request!</h4>
      <div class="callout justify-content-center center">
        <p class="d-flex item text-center">Nice one! You just sent a request to your friend with the email {{email}}.</p>
        <button class="btn btn-info "><a href="/user_page">Your account page</a></button>
      </div>
    </div>
  </div>
</main>
</body>