<div id="header" class="container-fluid">
  <h1 id="title" class="d-inline">G.Y.M.<span class="title-small">Banking</span></h1>
  <button class="btn btn-success d-inline right"><a href="/login">Sign in</a></button>
</div>
<main class=" home">
  <div class="standard-design">
    <div class="margin-top">
      <h4 class="d-flex item justify-content-center">Concerned about finances? Call upon...</h4>
      <div class="callout">
        <p class="d-flex item"><span class="first-letter">G</span> uarded. Your money is secure</p>
        <p class="d-flex item"><span class="first-letter">Y</span> ield. Producing a competitive return</p>
        <p class="d-flex item"><span class="first-letter">M</span> anaged by experts. Get support when you need it</p>
      </div>
    </div>
  </div>
</main>
</body>